include pyproject.toml
include LICENSE
include README.md
include TODO
include THANKS
include requirements.txt
include termsession_example.svg
recursive-exclude images *
recursive-include src *.py
exclude awstrace-play
exclude awstrace-rec
exclude runtests
